@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Dashboard.css">


<div class="grid_menu">
    <div class="row row_menu">
        <div class="col-12 text-danger" style="font-size:24px; text-align:center; width:100%;" id="message_error_parameter"></div>
        <div class="col-12 col-xl-6 tabLeft">
            <h2 style="text-align: center;">
                Thông số chất lượng
            </h2>
            <form method="get" asp-controller="Dashboard" asp-action="Index" style="margin-bottom:10px; margin-top:10px;">
                <label style="font-size:20px; font-weight:500;" for="timeSaveData">Thời gian mỗi lần lưu bản ghi: </label>
                <input id="timeSaveData" name="timeSaveData" style="width:150px;" placeholder="@ViewBag.timeSaveData giây" type="number" />
                <button class="btn btn-success">Thay đổi</button>
            </form>
            <table class="table table-hover table_thongso">
                <thead>
                    <tr>
                        <th scope="col">Tên TS</th>
                        <th scope="col">QCVN 40:2011/BTNMT</th>
                        <th scope="col">Giá trị đo</th>
                        <th scope="col">Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">pH</td>
                        <td>5:9</td>
                        <td id="pH">0</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row">Temp</td>
                        <td> &lt; 40 </td>
                        <td id="Temp">0</td>
                        <td>&#186;C</td>
                    </tr>
                    <tr>
                        <td scope="row">TSS</td>
                        <td>100</td>
                        <td id="TSS">0</td>
                        <td>mg/L</td>
                    </tr>
                    <tr>
                        <td scope="row">COD</td>
                        <td>150</td>
                        <td id="COD">0</td>
                        <td>mg/L</td>
                    </tr>
                </tbody>
            </table>


            <div class="box_reset" style="margin-top:7px; margin-bottom:25px;">
                <button type="button" class="btn btn-primary" id="btn_dopH" style="width:100px; margin-right:20px;">Đo pH</button>
                <button type="button" class="btn btn-primary" id="btn_doTSS" style="width:100px; ">Đo TSS</button>
            </div>
        </div>



        <div class="col-12 col-xl-6 tabRight">
            <div class="tuLayMau">
                <h2 style="text-align: center;">
                    Tủ lấy mẫu
                </h2>


                <div class="text-danger" id="message_error_tulaymau"></div>




                <div class="box_number_father">
                    <span id="box_number_1" class="box_number">1</span>
                    <span id="box_number_2" class="box_number">2</span>
                    <span id="box_number_3" class="box_number">3</span>
                    <span id="box_number_4" class="box_number">4</span>
                    <span id="box_number_5" class="box_number">5</span>
                    <span id="box_number_6" class="box_number">6</span>
                    <span id="box_number_7" class="box_number">7</span>
                    <span id="box_number_8" class="box_number">8</span>
                </div>
                <div class="box_number_father">
                    <span id="box_number_9" class="box_number">9</span>
                    <span id="box_number_10" class="box_number">10</span>
                    <span id="box_number_11" class="box_number">11</span>
                    <span id="box_number_12" class="box_number">12</span>
                    <span id="box_number_13" class="box_number">13</span>
                    <span id="box_number_14" class="box_number">14</span>
                    <span id="box_number_15" class="box_number">15</span>
                    <span id="box_number_16" class="box_number">16</span>
                </div>
                <div class="box_number_father">
                    <span id="box_number_17" class="box_number">17</span>
                    <span id="box_number_18" class="box_number">18</span>
                    <span id="box_number_19" class="box_number">19</span>
                    <span id="box_number_20" class="box_number">20</span>
                    <span id="box_number_21" class="box_number">21</span>
                    <span id="box_number_22" class="box_number">22</span>
                    <span id="box_number_23" class="box_number">23</span>
                    <span id="box_number_24" class="box_number">24</span>
                </div>
                <div style="margin-bottom:5px; margin-top:25px;">
                    <label style="font-size:19px; font-weight:500;" for="input_nhap_so_chai_lay_mau">Nhập vị trí chai lấy mẫu: </label>
                    <input id="input_nhap_so_chai_lay_mau" style="width:150px;" placeholder="1-24" type="number" />
                </div>
                <div class="box_reset" style="margin-top:15px;">
                    <button type="button" class="btn btn-success" id="btn_batdau" style="margin-right:20px;">Bắt đầu</button>
                    <button type="button" class="btn btn-info" id="btn_laymau" style="margin-right:20px;">Lấy mẫu</button>
                    <button type="button" class="btn btn-warning" id="btn_tudong">Tự động</button>
                </div>
                <div class="box_reset" style="margin-top:15px;">
                    <input type="number" id="input_luu" " style="margin-right:5px;" />
                    <button type="button" class="btn btn-success" style="margin-right:20px;" id="btn_luu">Lưu</button>
                </div>
                <div class="box_reset" style="margin-top:8px;">
                    <input type="number" id="input_xoa" style="margin-right:5px;" />
                    <button type="button" class="btn btn-danger" style="margin-right:20px;" id="btn_xoa">Xóa</button>
                </div>


                @*               <div class="footer_box">
                    <div class="footer_box_item">
                    <span style="margin-right: 20px;">Đổi vị trí lọ: 23</span>
                    <span>T&#186;in: 0.00 &#186;C</span>
                    </div>
                    <div class="footer_box_item">
                    <span style="margin-right: 20px;">Lấy mẫu vào: 21</span>
                    <span>T&#186;out: 0.00 &#186;C</span>
                    </div>
                    </div>*@
            </div>



            <div class="separate" style="background-color: black; width: 100%; height: 1px;"></div>





            <div class="luuLuong">
                <h2 style="text-align: center;">
                    Lưu lượng
                </h2>


                <div class="text-danger" id="message_error_luuluong"></div>



                <div class="box_luuLuongra">
                    <label for="input_luuluongvao">Lưu lượng vào (m3/h)</label>
                    <input class="readonly_input" readonly style="width:300px;" type="text" id="input_luuluongvao" placeholder="m3/h">
                    <label for="input_luuluongra">Lưu lượng ra (m3/h)</label>
                    <input class="readonly_input" readonly style="width:300px;" type="text" id="input_luuluongra" placeholder="m3/h">
                </div>

                <div style="width:100%;display: flex;justify-content: center;">
                    <div style="background-color: rgba(0, 0, 0, 0.3); width: 65%;height: 1px;"></div>
                </div>

                <div class="box_luuLuongvao" style="margin-top:15px;">
                    <label for="input_tongluuluong">Tổng lưu lượng (m3)</label>
                    <input class="readonly_input" readonly style="width:300px;" type="text" id="input_tongluuluong" placeholder="m3">
                    <button class="btn btn-primary" id="btn_doluuluong" type="button" style="padding-left:20px; padding-right:20px; margin-top:10px;">Đo lưu lượng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Dashboard.js"></script>
