@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Dashboard.css">


<div class="grid_menu">
    <div class="row row_menu">
        <div class="col-12 col-xl-7 tabLeft">
            <h2 style="text-align: center;">
                Thông số chất lượng
            </h2>

            <table class="table table-hover table_thongso">
                <thead>
                    <tr>
                        <th scope="col">Tên TS</th>
                        <th scope="col">QCVN 40:2011/BTNMT</th>
                        <th scope="col">Giá trị đo</th>
                        <th scope="col">Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">pH</th>
                        <td>6 : 9</td>
                        <td>8.28</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Temp</th>
                        <td> &lt; 40 </td>
                        <td>28.46</td>
                        <td>&#186;C</td>
                    </tr>
                    <tr>
                        <th scope="row">TSS</th>
                        <td>&lt; 50</td>
                        <td>---</td>
                        <td>mg/L</td>
                    </tr>
                    <tr>
                        <th scope="row">COD</th>
                        <td>&lt; 75</td>
                        <td>---</td>
                        <td>mg/L</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-xl-5 tabRight">
            <div class="tuLayMau">
                <h2 style="text-align: center;">
                    Tủ lấy mẫu
                </h2>
                <div class="box_reset">
                    <label for="reset" style="font-size: 20px; margin-right: 7px;">Reset</label>
                    <button class="btn btn-success" style="width: 70px;">On</button>
                </div>
                <div class="box_number_father">
                    <span class="box_number">1</span>
                    <span class="box_number">2</span>
                    <span class="box_number">3</span>
                    <span class="box_number">4</span>
                    <span class="box_number">5</span>
                    <span class="box_number">6</span>
                    <span class="box_number">7</span>
                    <span class="box_number">8</span>
                    <span class="box_number" style="background-color: red; color: aliceblue;">9</span>
                    <span class="box_number">10</span>
                    <span class="box_number">11</span>
                    <span class="box_number">12</span>
                </div>

                <div class="box_number_father">
                    <span class="box_number">13</span>
                    <span class="box_number">14</span>
                    <span class="box_number">15</span>
                    <span class="box_number">16</span>
                    <span class="box_number">17</span>
                    <span class="box_number">18</span>
                    <span class="box_number">19</span>
                    <span class="box_number">20</span>
                    <span class="box_number">21</span>
                    <span class="box_number">22</span>
                    <span class="box_number">23</span>
                    <span class="box_number">24</span>
                </div>

                <div class="footer_box">
                    <div class="footer_box_item">
                        <span style="margin-right: 20px;">Đổi vị trí lọ: 23</span>
                        <span>T&#186;in: 0.00 &#186;C</span>
                    </div>
                    <div class="footer_box_item">
                        <span style="margin-right: 20px;">Lấy mẫu vào: 21</span>
                        <span>T&#186;out: 0.00 &#186;C</span>
                    </div>
                </div>

            </div>
            <div class="separate" style="background-color: black; width: 100%; height: 1px;"></div>
            <div class="luuLuong">
                <h2 style="text-align: center;">
                    Lưu lượng
                </h2>
                <div class="box_luuLuongvao">
                    <label for="luuluongvao">Lưu lượng vào (m3/h)</label>
                    <input type="text" id="luuluongvao" placeholder="m3/h">
                    <label for="tongluuluongvao">Tổng lưu lượng vào (m3)</label>
                    <input type="text" id="tongluuluongvao" placeholder="m3">
                    <button class="btn btn-danger" style="margin-top:10px;">Xóa</button>
                </div>
                <div style="width:100%;display: flex;justify-content: center;">
                    <div style="background-color: rgba(0, 0, 0, 0.3); width: 65%;height: 1px;"></div>
                </div>
                <div class="box_luuLuongra">
                    <label for="luuluongvao">Lưu lượng ra (m3/h)</label>
                    <input type="text" id="luuluongvao" placeholder="m3/h">
                    <label for="tongluuluongvao">Tổng lưu lượng ra (m3)</label>
                    <input type="text" id="tongluuluongvao" placeholder="m3">
                    <button class="btn btn-danger" style="margin-top:10px;">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
