.grid_menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    padding-bottom: 10px;
}
.row_menu {
    width: 100%;
    margin-top: 25px;
    background-color: #f9f9c5;
}
.tabLeft{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.tabRight{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.luuLuong,.tuLayMau{
    padding: 5px;
}
.container{
    padding: 0;
}
.table_thongso{
    width: 100%;
    border: 1px black solid;
    
}
th{
    font-size: 130%;
}
td{
    font-size: 110%;
}
td,th{
    text-align: center;
    height: 70px;
}
.box_number:hover{
    cursor:pointer;
}
.box_number {
    min-width: calc(100%/8);
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_number_father{
    display: flex;
    height:60px;
    width: 100%;
    justify-content: space-around;
    background-color: gainsboro;
    flex-wrap: nowrap;
}

.tuLayMau{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}
.box_reset{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.luuLuong{
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.box_luuLuongvao,.box_luuLuongra{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content:center;
    align-items:center;
    width:100%;
}
.footer_box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.footer_box_item{
    display: flex;
    justify-content: center;
}

#message_error_luuluong, #message_error_tulaymau, #message_error_error{
    font-weight:700;
}

input{
    text-align:center;
}

#pH,#Temp,#COD,#TSS {
    font-size:17px;
    font-weight:600;
}

@media (max-width: 1139px) {
    .tabRight{
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}
@media (min-width: 1140px) { 
    .row_menu{
        padding: 15px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius:5px ;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    }

}

