.title_dashboard {
    color: black;
}

    .title_dashboard:hover {
        color: black;
    }


@media (max-width: 999px) {
    .box_loc{
        display: flex;
        flex-direction:column;
    }
    .span_locngay{
        margin-top:7px;
        margin-bottom:7px;
    }
    .btn_locngay{
        width:200px;
    }

}

@media (max-width: 560px) {

    #btn-print, #numberResult {
        margin-bottom: 10px;
    }
}